@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Comfortaa:wght@300;400;500;600;700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*======================================
//--//-->   STYLES GENERALES
======================================*/

body {
  background: url(../img/bg.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

a {
  color: #1e1e1e;
  transition: all 0.5s ease-in-out;
}

a:hover {
  color: #2d2d2d;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

.p-r {
  position: relative;
}

.color-a {
  color: #2d2d2d;
}

.color-d {
  color: #f5f5f5;
}

.color-text-a {
  color: #4e4e4e;
}

.box-shadow,
.paralax-mf,
.service-box,
.work-box,
.card-blog {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.box-shadow-a,
.button:hover {
  box-shadow: 0 0 0 4px #bfbfbf;
}

.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-6 {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1;
}

.avatar {
  width: 32px;
  height: 32px;
  margin-right: 4px;
  overflow: hidden;
}

.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.overlay-mf {
  background-color: #2d2d2d;
}

.overlay-mf {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: .7;
}

.paralax-mf {
  position: relative;
  padding: 8rem 0;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

/*--/ Sections /--*/

.sect-4 {
  padding: 4rem 0;
}

.sect-pt4 {
  padding-top: 4rem;
}

.sect-mt4 {
  margin-top: 4rem;
}

/*--/ Title s /--*/

.title-s {
  font-weight: 600;
  color: #1e1e1e;
  font-size: 1.1rem;
}

/*--/ Title A /--*/

.title-box {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.title-a {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}

.subtitle-a {
  color: #4e4e4e;
}

.line-mf {
  width: 40px;
  height: 5px;
  background-color: #2d2d2d;
  margin: 0 auto;
}

/*--/ Title Left /--*/

.title-box-2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.title-left {
  font-size: 2rem;
  position: relative;
}

.title-left:before {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #2d2d2d;
  width: 100px;
  bottom: -12px;
}

/*------/ Box /------*/

.box-pl2 {
  padding-left: 2rem;
}

.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: #fff;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*------/ Socials /------*/

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  background-color: transparent;
  color: #fff;
  box-shadow: 0 0 0 3px #fff;
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  background-color: #fff;
  color: #2d2d2d;
  box-shadow: 0 0 0 3px transparent;
  transition: all 500ms ease;
}

.socials .ico-circle:active {
  background-color: #fff;
  color: #2d2d2d;
  box-shadow: 0 0 0 5px #888888;
  transition: all 500ms ease;
}

/*------/ Ul resect /------*/

.ul-resect,
.socials ul,
.list-ico,
.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.widget-sidebar .list-sidebar,
.widget-tags ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico {
  line-height: 2;
}

.list-ico span {
  color: #2d2d2d;
  margin-right: 10px;
}

/*------/ Ico Circle /------*/

.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #F5AB35;
  display: block;
}

/*--/ Scrolltop s /--*/

.scrolltop-mf {
  position: relative;
  display: none;
}

.scrolltop-mf span {
  z-index: 999;
  position: fixed;
  width: 42px;
  height: 42px;
  background-color: #2d2d2d;
  opacity: .7;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
}

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none;
  background: #F5AB35;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
  animation: rotating-button-reverse 750ms ease;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.back-to-top:hover {
  animation: rotating-button 750ms ease;
}

@keyframes rotating-button {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes rotating-button-reverse {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

/* Preloader */

#preloader-bg {
  background-color: #f2f1ef;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
}

#preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 10px;
  background: #3498DB;
  border-radius: 5px;
  animation: animate-preloader 1.8s ease-in-out infinite;
  -webkit-animation: animate-preloader 1.8s ease-in-out infinite;
}
#preloader:before, #preloader:after {
  position: fixed; 
  display: block;
  content: "";
  animation: animate-preloader 1.8s ease-in-out infinite;
  -webkit-animation: animate-preloader 1.8s ease-in-out infinite;
  height: 10px;
  border-radius: 5px;
}
#preloader:before {
  top: -20px;
  left: 10px;
  width: 40px;
  background: #EF4836;
}
#preloader:after {
  bottom: -20px;
  width: 35px;
  background: #F5AB35; 
}


@-webkit-keyframes animate-preloader {
  0% {
    transform: translateX(40px);
  }
  
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}

@keyframes animate-preloader {
  0% {
    transform: translateX(40px);
  }
  
  50% {
    transform: translateX(-30px);
  }
  100% {
    transform: translateX(40px);
  }
}

/*======================================
//--//-->   NAVBAR
======================================*/

.navbar-b {
  font-family: 'Comfortaa', sans-serif;
  transition: all .5s ease-in-out;
  background-color: transparent;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-b.navbar-reduce {
  box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item,
.navbar-b.navbar-reduce .nav-item {
  position: relative;
  padding-right: 10px;
  padding-left: 0;
}

.navbar-b.navbar-trans .nav-link,
.navbar-b.navbar-reduce .nav-link {
  color: #EF4836;
}

.navbar-b.navbar-trans .nav-link:before,
.navbar-b.navbar-reduce .nav-link:before {
  content: '';
  position: absolute;
  margin-left: 0px;
  width: 0%;
  bottom: 0;
  left: 0;
  height: 2px;
  transition: all 500ms ease;
}

.navbar-b.navbar-trans .nav-link:hover,
.navbar-b.navbar-reduce .nav-link:hover {
  color: #EF4836;
}

.navbar-b.navbar-trans .nav-link:hover:before,
.navbar-b.navbar-reduce .nav-link:hover:before {
  width: 35px;
}

.navbar-b.navbar-trans .show > .nav-link:before,
.navbar-b.navbar-trans .active > .nav-link:before,
.navbar-b.navbar-trans .nav-link.show:before,
.navbar-b.navbar-trans .nav-link.active:before,
.navbar-b.navbar-reduce .show > .nav-link:before,
.navbar-b.navbar-reduce .active > .nav-link:before,
.navbar-b.navbar-reduce .nav-link.show:before,
.navbar-b.navbar-reduce .nav-link.active:before {
  width: 35px;
}

.navbar-b.navbar-trans .nav-link:before {
  background-color: #EF4836;
}

.navbar-b.navbar-trans .nav-link:hover {
  color: #EF4836;
}

.navbar-b.navbar-trans .show > .nav-link,
.navbar-b.navbar-trans .active > .nav-link,
.navbar-b.navbar-trans .nav-link.show,
.navbar-b.navbar-trans .nav-link.active {
  color: #EF4836;
}

.navbar-b.navbar-reduce {
  transition: all .5s ease-in-out;
  background-color: #f2f1ef;
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-b.navbar-reduce .nav-link {
  color: #EF4836;
}

.navbar-b.navbar-reduce .nav-link:before {
  background-color: #EF4836;
}

.navbar-b.navbar-reduce .nav-link:hover {
  color: #EF4836;
}

.navbar-b.navbar-reduce .show > .nav-link,
.navbar-b.navbar-reduce .active > .nav-link,
.navbar-b.navbar-reduce .nav-link.show,
.navbar-b.navbar-reduce .nav-link.active {
  color: #EF4836;
}

.navbar-b.navbar-trans .navbar-toggler span,
.navbar-b.navbar-reduce .navbar-toggler span {
  background-color: #EF4836;
}

.navbar-b .navbar-logo {
  height: 4rem;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu,
.navbar-b .dropdown.show .dropdown-menu,
.navbar-b .dropdown-btn.show .dropdown-menu {
  -webkit-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
  visibility: visible !important;
}

.navbar-b .dropdown-menu {
  margin: 1.12rem 0 0;
  border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
  padding: .7rem 1.7rem;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
  background-color: #2d2d2d;
  color: #fff;
  transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
  background-color: #2d2d2d;
}

/*--/ Hamburger Navbar /--*/

.navbar-toggler {
  position: relative;
}

.navbar-toggler:focus,
.navbar-toggler:active {
  outline: 0;
}

.navbar-toggler span {
  display: block;
  background-color: #f2f1ef;
  height: 3px;
  width: 25px;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  left: 0;
  opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 12px;
  visibility: hidden;
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  left: 12px;
  top: 10px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

/*======================================
//--//-->   FORM
======================================*/

.form {
  padding: 0 7%;
  font-family: 'Comfortaa', sans-serif;
}

.form .ico-circle-title {
  font-size: 50px;
}

.form_title h2 {
  font-size: 24px;
  font-weight: 1000;
}

.form_box {
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid orange;
  /*
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  */
  padding: 8%;
  margin: 20px 0;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 18px;
  color: #2d2d2d;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 18px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s ease-in-out;
  font-size: 14px;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label{
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s ease-in-out;
  font-size: 14px;
  color: #11998e;
  padding-bottom: 6px;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e,#38ef7d);
  border-image-slice: 1;
}

/* reset input */
.form__field:required,
.form__field:invalid{
  box-shadow:none;
}

/* Toggle Style*/
.toggle-control {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}
.toggle-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.toggle-control input:checked ~ .control {
  background-color: green;
}
.toggle-control input:checked ~ .control:after {
  left: 30px;
}
.toggle-control .control {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 50px;
  border-radius: 12.5px;
  background-color: darkred;
  transition: background-color 0.15s ease-in;
}
.toggle-control .control:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
  border-radius: 12.5px;
  background: white;
  transition: left 0.15s ease-in;
}

.label_ismahasiswa {
  margin-left: 60px;
}

/*Option style*/
#bulgy-radios-label {
  margin-top: 10px;
  transition: 0.2s ease-in-out;
  font-size: 18px;
  color: #9b9b9b;
}
.bulgy-radios {
  width: 100%;
  background: #fff;
  border-radius: 1rem;
}
.bulgy-radios label {
  display: block;
  position: relative;
  height: 1em;
  padding-left: 24px;
  margin-bottom: 10px;
  cursor: pointer;
  user-select: none;
  color: #555;
  letter-spacing: 1px;
}
.bulgy-radios label:hover input:not(:checked) ~ .radio {
  opacity: 0.8;
}
.bulgy-radios .label {
  display: flex;
  align-items: center;
  padding-right: 3rem;
}
.bulgy-radios .label span {
  line-height: 1em;
}
.bulgy-radios input {
  position: absolute;
  cursor: pointer;
  height: 0;
  width: 0;
  left: -2000px;
}
.bulgy-radios input:checked ~ .radio {
  background-color: #0ac07d;
  transition: background 0.3s;
}
.bulgy-radios input:checked ~ .radio::after {
  opacity: 1;
}
.bulgy-radios input:checked ~ .label {
  color: #0bae72;
}
.bulgy-radios input:checked ~ .label span {
  animation: bulge 0.5s forwards;
}
.bulgy-radios input:checked ~ .label span:nth-child(1) {
  animation-delay: 0.025s;
}
.bulgy-radios input:checked ~ .label span:nth-child(2) {
  animation-delay: 0.05s;
}
.bulgy-radios input:checked ~ .label span:nth-child(3) {
  animation-delay: 0.075s;
}
.bulgy-radios input:checked ~ .label span:nth-child(4) {
  animation-delay: 0.1s;
}
.bulgy-radios input:checked ~ .label span:nth-child(5) {
  animation-delay: 0.125s;
}
.bulgy-radios input:checked ~ .label span:nth-child(6) {
  animation-delay: 0.15s;
}
.bulgy-radios input:checked ~ .label span:nth-child(7) {
  animation-delay: 0.175s;
}
.bulgy-radios input:checked ~ .label span:nth-child(8) {
  animation-delay: 0.2s;
}
.bulgy-radios input:checked ~ .label span:nth-child(9) {
  animation-delay: 0.225s;
}
.bulgy-radios input:checked ~ .label span:nth-child(10) {
  animation-delay: 0.25s;
}
.bulgy-radios input:checked ~ .label span:nth-child(11) {
  animation-delay: 0.275s;
}
.bulgy-radios input:checked ~ .label span:nth-child(12) {
  animation-delay: 0.3s;
}
.bulgy-radios input:checked ~ .label span:nth-child(13) {
  animation-delay: 0.325s;
}
.bulgy-radios input:checked ~ .label span:nth-child(14) {
  animation-delay: 0.35s;
}
.bulgy-radios input:checked ~ .label span:nth-child(15) {
  animation-delay: 0.375s;
}
.bulgy-radios input:checked ~ .label span:nth-child(16) {
  animation-delay: 0.4s;
}
.bulgy-radios input:checked ~ .label span:nth-child(17) {
  animation-delay: 0.425s;
}
.bulgy-radios input:checked ~ .label span:nth-child(18) {
  animation-delay: 0.45s;
}
.bulgy-radios input:checked ~ .label span:nth-child(19) {
  animation-delay: 0.475s;
}
.radio {
  position: absolute;
  left: 0;
  height: 16px;
  width: 16px;
  background: #c9ded6;
  border-radius: 50%;
}
.radio::after {
  content: '';
  position: absolute;
  opacity: 0;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}
@keyframes bulge {
  50% {
    transform: rotate(4deg);
    font-size: 1.5em;
    font-weight: bold;
 }
  100% {
    transform: rotate(0);
    font-size: 1em;
    font-weight: bold;
 }
}

/*Button Submit*/
.btn-submit {
  width: 100%;
  height: 66.66px;
  background-color: darkgreen;
  color: white;
  border-radius: 20px;
  transition: 500ms ease-in-out;
}

/*======================================
//--//-->   FOOTER
======================================*/

footer {
  font-family: 'Mulish', sans-serif;
  background: linear-gradient(to right, #00d2ff, #3a7bd5);
  color: #fff;
  margin-top: 2rem;
  padding: 0 0 10px 0;
}
footer .footer1 {
  margin: 30px 5px 15px auto;
}
footer .footer1 p {
  margin-top: 1.25rem;
}
footer .footer1 a {
  color: #fff;
}
footer .footer1 a:hover {
  color: #aaa;
}
footer .footer1 a:active {
  color: #888;
}
footer .footer3 {
  margin: 80px auto 15px 5px;
}
footer .footer3 h4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #fff;
}
footer .footer3 a {
  color: #fff;
}
footer .footer3 strong{
  font-size: 19px;
}
footer .footer3 a:hover {
  color: #aaa;
}
footer .footer3 a:active {
  color: #888;
}
footer .footer3 .nav-item li {
  margin: 5px;
}
footer .table td, footer .table th {
  border: none;
}

@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }

  .navbar-b.navbar-trans .nav-item,
  .navbar-b.navbar-reduce .nav-item {
    padding-left: 10px;
  }

  .navbar-b.navbar-trans .nav-link:before,
  .navbar-b.navbar-reduce .nav-link:before {
    margin-left: 18px;
  }
}

@media (max-width: 768px) {
  
  .nav-socials {
    padding-bottom: 0.75rem;
  }

  .back-to-top {
    bottom: 15px;
  }
}

@media (max-width:548px) {
  footer, .footer3 a {
    font-size: 12px;
  }
  footer h4 {
    font-size: 16px;
  }
  footer .footer1 {
    margin: 25px 0 5px 0;
  }
  footer .footer3 {
    margin: 50px 0 5px 0;
  }
}